.graphContainerStyle {
    display: "flex";
    position: "relative";
    justify-content: "center";
    width: "100%";
    margin: "0px auto";
    flex-wrap: "wrap";
  }
  .titleStyle {
    padding-top: "5%";
    padding-left: "7%";
    margin-top: "0px";
    text-align: window.innerWidth > 928 ? "left" : "center";
    font-size: window.innerWidth > 928 ? "50px" : "40px";
    margin-bottom: "20px"
  }
